body{
    background-image: url(https://www.themoviedb.org/t/p/original/vPToLA075RgDEKllFYAq5BaMxKU.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
mark{
    background-color: lightskyblue;
}
marquee{
    color:lightskyblue;
    font-size: 50px;
    font-family:fantasy;
}